@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:wght@700&family=Roboto&display=swap');



:root {
  --main-text-color: #3B434E;
  --acent-color: #7653FC;
  --acent-hover-color: #4a26db;
  --grey-accent-color: #787D85;
  --sucsess-green-color: #C8F8E4;
  --footer-text-color: #FFFFFF;
  --green-accent-color: #1DC37E;
  --red-accent-color: #FC836D;
  --border-btn-color: #EBEBEB;

  --main-bg-color: #F5F6F9;
}



body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}